[submodule "lab-react-ironnutrition"]
	path = lab-react-ironnutrition
	url = https://github.com/Ironhack-Miami-FTWD-January-2019/lab-react-ironnutrition.git
[submodule "something"]
	path = something
	url = https://github.com/aikengx/lab-react-ironnutrition.git
